# Node.js
**/node_modules/
**/npm-debug.log*

# Variables de entorno
**/.env
**/*.sql
**/.env.local
**/.env.production

# IDEs y Editores
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj

# Sistema operativo
.DS_Store
Thumbs.db
*.sql
db migration